@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    color:black;
    text-decoration: none;
    /* background-image: url(../images/minimalistic_background.png); */
    /* background-image: url(../images/minimalistic_background2.png); */
    /*background-image: url(../../images/minimalistic_background3.jpg);*/
    /*background-size: 100%;*/
    /*background-color: #ffffff;*/
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://cdn.hipwallpaper.com/m/72/20/x2CV1T.jpg");
    background-size: cover;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    margin-top: 0;
    color: #ffffff;
}

.blog_pictures {
    width: 200px;
    height: 200px;
}

.blog_large_pictures {
    width: 250px;
    height: 300px;
}

.title {
    font-size: 2.5em;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
}

.storytitle {
    text-align: center;
    font-size: 16pt;
    text-decoration: underline;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    justify-items: center;
    grid-column-gap: 2em;
}

.grid p{
    text-align: justify;
    text-indent: 2.5em;
}
  