body{
    background: linear-gradient( rgba(217, 106, 167, 0), rgba(217, 106, 167, 0.20), rgba(217, 106, 167, 1) );
}

.about {
    background: linear-gradient( rgba(217, 106, 167, 1), rgba(217, 106, 167, 0.0)); 
}

.imgRow{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

img {
    width: 15em;
    height: 12em;
    border-radius: 20px;
}

.imgRow img {
    width: 15em;
    height: 12em;
    border-radius: 20px;
}

h1{
    text-align: center;
  }

div.b {
    text-indent: -2em;
  }

div.c {
text-indent: 30%;
}